Variables

In [1]:
a = 5 #This  is create a variable that will be used to store the value 5
# print(a) #This will print the value of the variable a
# CELL: 5
a

5

In [ ]:
b = 'kamran'
b # b is not printed because of that is after a
a # This will print the value of the variable a 
# and without using it in print function it will not be printed on the console a and b which is the last element that ii the only print

5

In [5]:
c = "kamran"
c

'kamran'

In [6]:
print(a)
print(b)

5
kamran

In [7]:
x = str(5)  # print 5 as a string implicitly(jabardasti change karna int to str)
y = int(5)  # print 5 as a integer  
z = float(5) # print 5 as a float

print(x)
print(y)
print(z)

5
5
5.0

In [8]:
print(type(x)) # print the type of x variable is str
print(type(y)) # print the type of y variable is int
print(type(z)) # print the type of z variable is float

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
p = 'kamran'
P = 'Hussain'

In [ ]:
print(p) # Small p 
print(P) # Capital P
# that means both  p and P are different variables because of the case sensitive

kamran
Hussain

In [12]:
print(p, P)

kamran Hussain

In [13]:
print(p + ' ' + P)

kamran Hussain

In [16]:
print(a+y) # 5+5=10
print(a+z) # 5+5.0=10.0

10
10.0

In [ ]:
print(a+b) # 5+kamran=error because of the different data types
print(a+c) # 5+kamran=error because of the different data types

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
variable = 5
vari_able = 5
_variable = 5
Variable = 5
VARIABLE = 5
variable5 = 5
# these all variable names are correct

In [ ]:
5variable = 5 # this is incorrect because the variable name can not start with a number
variable-5 = 5 # this is incorrect because the variable name can not contain special characters

SyntaxError: invalid syntax (3299328541.py, line 1)

In [19]:
vari-able = 5 # this is incorrect because the variable name can not contain special characters
vari_able = 5 # this is correct because the variable name can contain underscore
variable = 5 # this is correct because the variable name can contain a letter

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (848293487.py, line 1)

In [20]:
var$able = 5 # this is incorrect because the variable name can not contain special characters

SyntaxError: invalid syntax (1849710098.py, line 1)

In [21]:
vari able =5    # this is correct because the variable name can contain space
print(vari able) # this will print the value of the variable vari able

SyntaxError: invalid syntax (4196344997.py, line 1)

In [23]:
Variable1,Variable2,Variable3  = '1','2','3' # this is the diff variable store diff data

In [24]:
print(Variable1)
print(Variable2)
print(Variable3)

1
2
3

In [25]:
Variable1=Variable2=Variable3 = 5 # this is the same variable store the same data

In [26]:
print(Variable1)
print(Variable2)
print(Variable3)

5
5
5

Datatypes

In [28]:
x1 = 5
x2 = 'kamran'
x3 = 5.0
x4 = True
x5 = 5j
x6 = [1,2,3] # list
x7 = {1,2,3} # set
x8 = (1,2,3) # tuple 
x9 = {'naam' : 'kamran', 'kaam' : 'Students ki help karna'} # dictionary
x10 = None

In [29]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

Numbers

In [32]:
num1 = 5
num2 = -5
num3 = 5555555555555555555555555
num4 = 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

In [ ]:
import sys
print(sys.getsizeof(num4)) # get the size of the variable num4 from the memory buffer and print it
print(sys.getsizeof(num2)) # get the size of the variable num2 from the memory buffer and print it
print(sys.getsizeof(num3)) # memory buffer size
print(sys.getsizeof(num1))

76
28
36
28

In [35]:
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'int'>
<class 'int'>

In [43]:
float1 = 5.0
float2 = -5.5
float3 = 123e4

In [37]:
print(type(float1))
print(type(float2))
print(type(float3))

<class 'float'>
<class 'float'>
<class 'float'>

In [38]:
com1 = 0+1j
com2 = 5j
com3 = 1+2j
com4 = -5j

In [44]:
print(type(com1))
print(type(com2))
print(type(com3))
print(type(com4))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
int1 = int(float1) # float to int type casting conversion function
int2 = int(com1) # complex to int type casting conversion function that is not allowed to be converted

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [46]:
complex1 = complex(num1)

In [47]:
complex1

(5+0j)

Strings

In [48]:
X = '''Hello and welcome dosto
to 5 minutes engineering,
aaj ka session bada kamal ka hone wala hai'''
print(X)

Hello and welcome dosto
to 5 minutes engineering,
aaj ka session bada kamal ka hone wala hai

In [49]:
Y = """Hello and welcome dosto
to 5 minutes engineering,
aaj ka session bada kamal ka hone wala hai"""
print(Y)

Hello and welcome dosto
to 5 minutes engineering,
aaj ka session bada kamal ka hone wala hai

In [ ]:
Z = 'kamran'
print(Z[0])
print(Z[1])
print(Z[2])
print(Z[3])
print(Z[4])
print(Z[5])

k
a
m
r
a
n

In [55]:
print(len(Z))

6

In [56]:
print(len(X))

92

In [57]:
print('Hello' not in X)

False

In [59]:
print('Hllo' not in X)

True